<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.github.andreiko.alfred-sources</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/andreybulgakov/dev/bin/alfred-sources</string>
    <string>-circle-token</string>
    <string>***</string>
    <string>-github-token</string>
    <string>***</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <false/>
  <key>WorkingDirectory</key>
  <string>/usr/local</string>
  <key>StandardErrorPath</key>
  <string>/usr/local/var/log/alfred-sources.log</string>
  <key>StandardOutPath</key>
  <string>/usr/local/var/log/alfred-sources.log</string>
</dict>
</plist>
